<h1>New Family</h1>

***form for family name should also attach to user_name

<h3>Step 2: Create your profile.</h3>
<hr>
  <div class="container-fluid">
    <div class="col-md-8 offset-4">
      <% form_for @family do |f| %>
      


      <% end %>
    </div>
  </div>
